* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: inter, sans-serif;
    height: 100vh;
    background-color: black;
}
nav {
    display: flex;
    align-items: center;
    background-color:black;
    height: 90px;
    padding: 30px 25px;

}

.nav--logo_text, .nav--title{
    margin: 0;
}
.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;


}
.nav--title {
    margin-right: auto;
    color: white;
    font-weight: 700;

}

.nav--icon {
    height: 30px;
    margin-right: 7px;
}

nav > img {
    height: 50px;
    margin-right: 70px;
}

main {
    
    padding: 57px 27px;
    color: white;
}

.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;

}

.main--facts {
    margin-top: 46px;
}

.main--facts > li {
    margin-top: 40px;
    max-width: 400px;
    line-height: 19px;
    padding-block: 10px;
}